  <header class="question_header">
    <%= image_tag("/assets/rings_blue.png", width: '15%') %>
    <!-- <h1>Olym<span class='pics'>pics</span> Quiz</h1> -->

  </header>

  <div class="question_picture">
    <ul class="first">

      <li><%= image_tag("/assets/#{@q.picture_a}", class: 'first_image') %></li>
      <li><%= image_tag("/assets/#{@q.picture_b}", class: 'second_image') %></li>
      <li><%= image_tag("/assets/#{@q.picture_c}", class: 'third_image') %></li>

    </ul>

  </div>

  <h2>Guess this Olympic location.</h2>



  <% next_page = @q.index + 1 %>

  <%= form_tag question_url(next_page), method: 'get' do %>

    <% @a.each do |answer| %>

      <%= label_tag do %>
      <%= radio_button_tag(answer.content, answer.correct, false) %>
      <%= answer.content %>
      <% end %>

    <% end %>

  <br>
  <%= button_tag 'Submit your answer', class: 'next_page' %>

  <% end %>







