  <header class="question_header">
    <%= image_tag("/assets/rings_blue.png", width: '15%') %>
    <!-- <h1>Olym<span class='pics'>pics</span> Quiz</h1> -->

  </header>

  <div class="question_picture">
    <ul class="first">

      <li><%= image_tag("/assets/#{@q.picture_a}", class: 'first_image') %></li>
      <li><%= image_tag("/assets/#{@q.picture_b}", class: 'second_image') %></li>
      <li><%= image_tag("/assets/#{@q.picture_c}", class: 'third_image') %></li>

    </ul>

  </div>

  <h2>Guess this Olympic location.</h2>


<!-- NEW VERSION -->

  <% next_page = @q.index + 1 %>

  <% user = User.find_by(:id => session[:u_id]) %>

  <%= form_tag update_score_url, class: 'question_form', method: 'patch' do %>

    <% @a.each do |answer| %>

      <%= label_tag do %>
      <%= radio_button_tag('answer_code', answer.values) %>
      <%= answer.content %> <br>

      <% end %>


      <%= hidden_field_tag 'page_index', next_page %>

      <%= hidden_field_tag 'user_id', user.id %>


    <% end %>


  <%= button_tag 'Submit your answer', class: 'next_page' %>

  <% end %>


<% if params[:correct] == 'true' %>
<div class="question_count">
You're last answer was right.
</div>
<% elsif @q.index == 1%>

<% else %>
<div class="question_count">
You're last answer was wrong.
</div>
<% end %>



<% if @q.index < 10 %>
<div class="question_count">
<%= 10 - @q.index %> more questions to go.
</div>
<% else %>
<div class="question_count">
This is the last question.
</div>
<% end %>





